/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#define BAS 0
#define LOW 1
#define RAI 2

&led_strip {
    chain-length = <27>;
};

/ {
    behaviors {
        td_rgui_low_toggle: tap_dance_rgui_low_toggle {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <320>;
            bindings = <&kp RGUI>, <&tog LOW>;
        };

        td_lshift_rai_toggle: tap_dance_lshift_rai_toggle {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <320>;
            bindings = <&kp LSHIFT>, <&tog RAI>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BAS";
            // Base layer (alpha + mod taps + layer taps)
            // Row 1: [TRNS] Q W E R T | Y U I O P [TRNS]
            // Row 2: [TRNS] A S D F G | H J K L ; [TRNS]
            // Row 3: [TRNS] Z X C V B | N M , . / [TRNS]
            // Thumbs: RGUI/Lower Alt-Tab Lower-Enter | Raise-Space Ctrl-Bsp LShift/Raise
            bindings = <
                &trans &kp Q       &kp W    &kp E    &kp R    &kp T        &kp Y    &kp U    &kp I     &kp O   &kp P          &trans
                &trans &kp A &kp S    &kp D    &kp F    &kp G        &kp H    &kp J    &kp K     &kp L   &kp SEMI &trans
                &trans &kp Z &kp X    &kp C    &kp V    &kp B        &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH &trans
                                    &td_rgui_low_toggle &mt LALT TAB &lt LOW RET  &lt RAI SPACE   &mt RCTRL BSPC    &td_lshift_rai_toggle
            >;
        };

        lower_layer {
            display-name = "LOW";
            // Lower layer (Bluetooth, RGB, nav, symbols)
            // Row 1: [TRNS] BT_CLR BT0 BT1 BT2 BT3 | \ [ ] [TRNS] 0 [TRNS]
            // Row 2: [TRNS] RGB_TOG RGB_HUI RGB_SAI RGB_BRI [TRNS] | Left Down Up Right [TRNS] [TRNS]
            // Row 3: [TRNS] RGB_EFF RGB_HUD RGB_SAD RGB_BRD [TRNS] | [TRNS] [TRNS] [TRNS] [TRNS] [TRNS] [TRNS]
            // Thumbs: [TRNS] LShift LCtrl | RCtrl RShift RAlt
            bindings = <
                &trans &bt BT_CLR      &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3      &kp BSLH &kp LBKT &kp RBKT &trans    &kp N0  &trans
                &trans &rgb_ug RGB_TOG &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_BRI &trans         &kp LEFT &kp DOWN       &kp UP          &kp RIGHT &trans  &trans
                &trans &rgb_ug RGB_EFF &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_BRD &trans         &trans   &trans         &trans          &trans    &trans  &trans
                                     &trans          &kp LSHIFT           &kp LCTRL         &kp RCTRL           &kp RSHIFT &kp RALT
            >;
        };

        raise_layer {
            display-name = "RAI";
            // Raise layer (numbers + edits)
            // Row 1: [TRNS] ` 1 2 3 4 | [TRNS] [TRNS] [TRNS] [TRNS] [TRNS] [TRNS]
            // Row 2: [TRNS] 5 6 7 8 9 | [TRNS] Ctrl Tab Shift Esc [TRNS]
            // Row 3: [TRNS] Caps ' = - 0 | [TRNS] [TRNS] [TRNS] [TRNS] [TRNS] [TRNS]
            // Thumbs: LAlt RGUI [TRNS] | [TRNS] [TRNS] [TRNS]
            bindings = <
                &trans &kp GRAVE    &kp N1    &kp N2    &kp N3    &kp N4     &trans &trans    &trans    &trans    &trans  &trans
                &trans &kp N5       &kp N6    &kp N7    &kp N8    &kp N9     &trans &kp LCTRL &kp TAB   &kp LSHFT &kp ESC &trans
                &trans &kp CAPSLOCK &kp APOS  &kp EQUAL &kp MINUS &kp N0     &trans &trans    &trans    &trans    &trans  &trans
                              &kp LALT   &kp RGUI  &trans    &trans  &trans    &trans
            >;
        };
    };
};
